data/*
!data/reads/
data/reads/ecoli_reads.fastq.gz
!data/reads/lambda_reads.fastq
!data/train/
data/train/processed/*
!data/test_synth/
data/test_synth/processed/*
!data/test_real/
data/test_real/processed/*

env/
figures/
trained_models/
processor.pt
__pycache__/
.idea/
